.ShowcaseWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    flex-grow: 1; 
    transition: margin-left 0.5s; /* Smooth transition for margin */
    padding: 0 10px 0 10px;
}
.ShowcaseWrapper > * {
    padding: 20px; 
}

.Showcase {
    display: flex;
    flex-direction: column;
    width: 100%; 
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    box-sizing: border-box; 
}

.topSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 0px;
    margin: 0;
    /* background-color:aliceblue; */
    width: 100%;
    border-bottom: .5px solid;
    margin-bottom: 5px;
}
.topSection h2 {
    padding: 0;
    margin: 0;
}
.topSection p {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;
 
}
.showcaseContents {
    display: flex;
    width: 100%; /* Full width */
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height:min-content;
}

#leftImage {
    display: flex;
    flex: 0 0 40%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:lightgrey;
   
}

#leftImage img {
    width: 100%; /* Full width */
    height: 100%;   
    object-fit: fill;
    max-height: 1200px;
}

#rightCards {
    display: flex;
    flex-wrap: wrap; 
    flex: 0 0 60%; 
    background-color:lightgrey;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}


.card {
    width: calc(50% - 10px); 
    margin: 0; 
    padding: 10px;
    box-sizing: border-box; 
    /* border: 1px solid; */
    
} 
#subTitles {
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-style: italic; */
    /* font-weight: bold; */
    font-size: 26px;
    margin: 0;
    padding: 5px;
    
}
.cardBottom {
    width: 90%;
    
}
.cardBottom img {
    height: 300px; /* Fixed height for equal size */
    width: 100%; /* Full width */
    object-fit: cover;
}
/* Equal size for card images */
.card img {
    height: 300px; /* Fixed height for equal size */
    width: 100%; /* Full width */
    object-fit: fill;
    /* border-radius: 10%; */
}
.card p,.cardBottom p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/* Inventory Section */
.Inventory {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}

/* Portfolio Section */
.Portfolio {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray; 
}

/* About Me Section */
.AboutMe {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
}
.aboutImg {
    width: 100%;
}
.AboutMe img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#condo-container,
#townhouse-container,
#houses-container {
    /* display: flex;
    flex-direction: column;
    background-color: lightgreen;
    border: 1px solid;
     */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start; /* Align items to the start */
 
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    padding: 10px; /* Add some padding to the container */
}



.imageWrapper {
    position: relative; 
    /* display: flex;
    flex-wrap: wrap; */
    width: 200px;
    height: 200px;
    margin: 10px;
    /* padding: 10px;  */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transition: box-shadow 0.3s; /* Smooth transition for hover effect */

}

.imageWrapper:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */
}

.image-item {
    width: 100%; /* Make the image take the full width of the wrapper */
    height: 100%; /* Make the image take the full height of the wrapper */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.delete-button {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    border: none; 
    background-color: black;
    color: white;
}

.delete-button:hover {
    background-color: red; /* Change color on hover */
}

/* Contact Me Section */
.Contact {
    margin: 0;
    padding: 0;    
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    background-color: lightgray; 
}
.contactImg {
    width: 100%;
}
.Contact img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Section Headers */
.sectionHeader {
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0;;
    height: auto;
    border-top: 1px double;
    border-bottom: 1px double;
    align-items: center;
    background-color:aliceblue;
    margin-top: 10px;

}
.sectionHeader h2 {
    padding-right: 20px;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 1200px) {
    #leftImage {
        flex: 0 0 60%;
    }
    #rightCards {
        flex: 0 0 40%; 
      
    }
    .card {
        width: 80%;
    }
 
}
@media (max-width: 768px) {
    #leftImage {
        flex: 0 0 100%; /* Full width on small screens */
        margin-right: 0; /* Remove margin */
    }

    #rightCards {
        flex: 0 0 100%; /* Full width on small screens */
    }
    .showcaseContents {
        height:auto;
    }
    #leftImage img {
        object-fit: contain;
    }
    .AboutMe img {
        width:100%;
        height: auto;
        object-fit: contain;
    }

    
}
